@{
    ViewData["Title"] = "Home Page";
}
    <style>
        div{
            background: white;
            background: linear-gradient(to right,#f6ebe6,#aee1f9);
        }
    </style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <h2 >Banking Application</h2>
    <p> A simple banking application designed by Andrew, Keven, and Noe</p>
    <body>
    <img src="https://gicart.fiu.edu/wp-content/uploads/sites/28/2018/04/stratis.jpg" width="800" 
     height="500" />
    </body>
</div>
