
<style>
    div {
        background: white;
        background: linear-gradient(to right,#f6ebe6,#aee1f9);
    }
</style>

@{
    ViewData["Title"] = "StatementDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["UserMessage"] != null)
{
    <p style="text-align:center;border:3px solid red;">@TempData["UserMessage"].ToString()</p>
}

<p style="text-align:center">@Html.ActionLink("Back", "GetStatement")</p>


