@using CaseStudy.ViewModel
@model CustomerAccountViewModel

@{
    ViewData["Title"] = "ViewAccountUsingAccountID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">View Account Using Account ID</h1>

@if (TempData["UserMessage"] != null)
{
    @if (TempData["UserMessage"].ToString() == "No accounts found.")
    {
        <p style="text-align:center;border:3px solid red;">@TempData["UserMessage"].ToString()</p>
    }
}

<style>
    div {
        background: white;
        background: linear-gradient(to right,#f6ebe6,#aee1f9);
    }
    table, tr, td {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border: 1px solid black;
    }

    input[type="submit"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<form asp-action="ViewAccount">
    <table>
        <tr>
            <td>
                <label asp-for="Account.AccountID"></label>
            </td>
            <td>
                <input style="width:88%" type="number" asp-for="Account.AccountID" required value=0 formnovalidate="formnovalidate" min="0" />
            </td>
        </tr>
    </table>
    <br />
    <div style="text-align:center">
        <button type="submit">VIEW</button>
    </div>
    <br />
    <div style="text-align: center ">
        @Html.ActionLink("View Accounts using SSNID or Customer ID", "ViewAccountBySSNID")
    </div>
    <br />
    @*<div style="text-align:center">
        @Html.ActionLink("View Accounts Using Customer ID", "ViewAccountsUsingID")
    </div>
    <br />*@
    <div style="text-align:center">
        @Html.ActionLink("CANCEL", "ViewAccountBySSNID")
    </div>
</form>