@using CaseStudy.ViewModel;
@model CustomerAccountViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div {
        background: white;
        background: linear-gradient(to right,#f6ebe6,#aee1f9);
    }
    table, tr, td {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border: 1px solid black;
    }

    input[type="submit"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h1 style="text-align:center">Delete an Account</h1>


<form asp-action="DeleteAccounts">
    <input  type="number" asp-for="Account.CustomerID"  value=0 formnovalidate="formnovalidate" hidden />
    <table>
        <tr>
            <td>
                <label asp-for="Customer.SSNID"></label>
            </td>
            <td>
                <input style="width:88%" type="number" asp-for="Customer.SSNID" required value=0 formnovalidate="formnovalidate" min="0" />
            </td>
        </tr>
    </table>
    <br />
    <div style="text-align:center">
        <button type="submit">DELETE</button>
    </div>
    <br />
    <div style="text-align:center">
        @Html.ActionLink("Delete Using Customer ID", "Delete")
    </div>
    <br />
    <div style="text-align:center">
        @Html.ActionLink("CANCEL", "Delete")
    </div>

</form>